[Unit]
Description=Service for the Smartmeter Data-Collector
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=<INSTALLPATH>/service/startContainer.sh
ExecReload=<INSTALLPATH>/service/restartContainer.sh
ExecStop=<INSTALLPATH>/service/stopContainer.sh

[Install]
WantedBy=multi-user.target
