[Unit]
Description=Service for the Smartmeter Data-Collector
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=<INSTALLPATH>
ExecStart=<INSTALLPATH>/startContainer.sh
ExecStop=<INSTALLPATH>/stopContainer.sh

[Install]
WantedBy=multi-user.target
