[Unit]
Description=Service for the Smartmeter Data-Collector
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=<INSTALLPATH>/startContainer.sh
ExecReload=<INSTALLPATH>/restartContainer.sh
ExecStop=<INSTALLPATH>/stopContainer.sh

[Install]
WantedBy=multi-user.target
